@import url(https://fonts.googleapis.com/css?family=Roboto:300, 400, 600);

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", Arial, sans-serif;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}
.snip1336 {
  font-family: "Roboto", Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: #141414;
}
.snip1336 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1336 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
}
.snip1336 figcaption {
  width: 100%;
  background-color: #141414;
  padding: 25px;
  position: relative;
}
.snip1336 figcaption:before {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #141414;
}
.snip1336 figcaption a,
button {
  padding: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.4em;
  background: transparent;
}
.snip1336 figcaption a:hover,
button:hover {
  opacity: 1;
}
.snip1336 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.snip1336 .follow {
  margin-right: 2%;
  border-color: #2980b9;
  color: #2980b9;
}
.snip1336 h2 {
  margin: 0 0 5px;
  font-weight: 300;
}
.snip1336 h2 span {
  display: block;
  font-size: 0.5em;
  color: #2980b9;
}
.snip1336 p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*returning values*/

/*value for screen reader*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*login container */
.login__container {
  width: 100%;
  height: 100vh;
  background-color: black;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample87.jpg");
  background-repeat: repeat-x;

  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*login form */
.login__form {
  width: 600px;
  height: 250px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*  background: rgba(70, 50, 80, 0.4); */
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0 25px;
  letter-spacing: 2px;
}
/*login title, also sr only */
.login__title {
  font-size: 1.8em;
  letter-spacing: 2px;
}

/*input & password label*/
.login__input-label,
.login__password-label {
  /*padding: 0.4em;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
  width: 250px;
  line-height: 1.6em;
  color: white;
  font-size: 1em;
  letter-spacing: 2px;
}
/*text & password input field*/
input[type="text"],
input[type="email"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  line-height: 1.6em;
  text-align: right;
  font-size: 1em;
  letter-spacing: 2px;
}
/*login button*/
.login__login-btn {
  /* padding: 0.4em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 250px;
  line-height: 1.6em;
  margin-right: 4%;
  border-color: white;
  color: white;
  background: transparent;
  padding: 5px;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  margin-top: 3em;

  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  box-sizing: border-box;
  transition: all 0.25s ease;
  opacity: 0.65;
  border-style: solid;
  border-width: 1px;
}
/*login button change on hover*/
.login__login-btn:hover {
  /*  background: rgb(34, 191, 172); */
  border-color: #2980b9;
  color: #2980b9;
  opacity: 1;
}
/*text & password input field change on hover: DONT USE, muisloze mensen kunnen moeilijk de website raadplegen*/
input[type="text"]:focus,
input[type="email"]:focus {
  outline: 0;
  /* outline-bottom: 1px solid rgb(34, 191, 172);*/
  border-bottom: 1px solid #2980b9;
  border-right: 1px solid #2980b9;
}
